.header {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    /*text-decoration: underline;*/
}

.main-area {
    margin-left: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.container {
    font-family: Arial, sans-serif;
    width: 66%;
    margin-right: auto;
    margin-left: auto;
}

.customerName {
    font-size: 150%;
    font-weight: bold;
}

.table-caption {
    padding: 10px;
}


.footer {
    text-align: center;
}

/* Table styles */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: #869960;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th,
table td {
    border: 1px solid #869960;
    padding: 10px;
}